.projects-page {
  // border: 1px solid red; // Remove test code.
  width: 950px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  a {
    text-decoration: none;
    color: black;

    .project-item {
      border: 2px solid rgb(75, 75, 75);
      border-radius: 10px;
      height: 175px;
      width: 300px;
      margin-bottom: 20px;
  
      .title {
        // border: 1px solid red; // Remove test code.
        display: block;
        height: 25px;
        margin-top: 2px;
        margin-left: 5px;
        font-weight: bold;
      }
  
      .background {
        // border: 1px solid red; // Remove test code.
        display: block;
        height: 75px;
        overflow: hidden;
      }
  
      .description {
        // border: 1px solid red; // Remove test code.
        display: block;
        height: 50px;
        margin-left: 5px;
      }
  
      .stacks {
        // border: 1px solid red; // Remove test code.
        display: block;
        height: 25px;
        margin-left: 5px;
        font-size: 13px;
      }
    }
  }
}