.portfolio-page {
  .text-zone {
    h1 {
      // border: 1px solid red; // Remove test code.
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 15px;
      color: #569cd6;
    }
  }
}
