header {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: white;
  // background-color: red; // Remove test code
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

  .menu-icon {
    font-size: 30px;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;

    ul {
      list-style: none;

      li {
        text-align: center;
        padding: 20px 0;
        background-color: white;
        border-bottom: 1px solid grey;
        cursor: pointer;
      }

      li:first-child {
        border-top: 1px solid grey;
      }

      li:hover {
        background-color: rgb(250, 250, 250);
      }
    }
  }

  .menu.show {
    transform: translateY(145.5px);
    transition: transform 0.3s;
  }

  .menu.hide {
    transform: translateY(-96px);
    transition: transform 0.3s;
  }
}