.navbar {
  // border: 1px solid red; // Remove test code.
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  background: #252526;

  .logo {
    // border: 1px solid red; // Remove test code.
    display: inline-block;
    position: absolute;

    // If the display width is >1280px, then center the logo.
    @media (min-width: 1280px) {
      left: 50%;
      transform: translateX(-50%);
    }

    // If the display width is <1280px, then left-align the logo.
    @media (max-width: 1280px) {
      left: 20px;
    }

    img {
      // border: 1px solid red; // Remove test code.
      display: block;
      height: 40px;
      padding: 5px 0;
    }
  }

  .menu-button {
    display: none;

    &:checked {
      & ~ .nav-links {
        height: 300px;
        a {
          display: block;
        }
      }

      & ~ .nav-social {
        display: inline-block;
      }

      & ~ .menu-icon {
        .navicon {
          background: transparent;

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }
        }
      }

      & ~ .menu-icon:not(.steps) {
        .navicon:before,
        .navicon:after {
          top: 0;
        }
      }
    }
  }

  // .menu-icon {
  //   // border: 1px solid red; // Remove test code
  //   display: inline-block;
  //   height: 100%;
  //   width: 50px;
  //   position: absolute;
  //   right: 0;
  //   cursor: pointer;

  //   .navicon {
  //     display: block;
  //     height: 3px;
  //     width: 30px;
  //     background: #9cdcfe;
  //     position: absolute;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     top: 45%;

  //     &:before,
  //     &:after {
  //       content: '';
  //       display: block;
  //       height: 100%;
  //       width: 100%;
  //       background: #9cdcfe;
  //       position: absolute;
  //       transition: all 0.2s ease-out;
  //     }

  //     &:before {
  //       top: -10px;
  //     }

  //     &:after {
  //       top: 10px;
  //     }
  //   }
  // }
  
  // Responsive display width of >=1000px.
  @media (min-width: 1000px) {
    .nav-links {
      // border: 1px solid red; // Remove test code.
      display: inline-block;
      position: absolute;
      bottom: 10px;

      @media (min-width: 1280px) {
        left: 50px;
      }

      @media (max-width: 1280px) {
        left: 50%;
        transform: translateX(-50%);
      }

      a {
        // border: 1px solid red; // Remove test code.
        color: #9cdcfe;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;

        &:not(:first-child) {
          margin-left: 40px;
        }

        &:hover {
          color: #569cd6;
          border-bottom: 2px solid #569cd6;
          padding-bottom: 1px;
        }
      }

      a.active {
        color: #569cd6;
        border-bottom: 2px solid #569cd6;
        padding-bottom: 1px;
      }
    }

    // .nav-links - END

    .nav-social {
      // border: 1px solid red; // Remove test code.
      display: inline-block;
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-35%);

      a {
        display: inline-block;
        margin-left: 20px;
        font-size: 20px;
        color: #9cdcfe;

        &:hover {
          color: #569cd6;
        }
      }
    }

    // .nav-social - END
  }

  // Responsive display width of <=1000px.
  @media (max-width: 1000px) {
    .menu-icon {
      // border: 1px solid red; // Remove test code
      display: inline-block;
      height: 100%;
      width: 50px;
      position: absolute;
      right: 0;
      cursor: pointer;
  
      .navicon {
        display: block;
        height: 3px;
        width: 30px;
        background: #9cdcfe;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 45%;
  
        &:before,
        &:after {
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          background: #9cdcfe;
          position: absolute;
          transition: all 0.2s ease-out;
        }
  
        &:before {
          top: -10px;
        }
  
        &:after {
          top: 10px;
        }
      }
    }
    
    .nav-links {
      z-index: 1;
      // border: 1px solid red; // Remove test code.
      display: inline-block;
      height: 0;
      width: 100%;
      position: absolute;
      top: 50px;
      background: #252526;
      transition: height 0.2s ease-out;

      a {
        display: none;
        font-size: 20px;
        color: #9cdcfe;
        text-align: center;
        text-decoration: none;
        padding: 10px 0;
        border-bottom: 1px solid black;

        &:hover {
          color: #569cd6;
        }

        &.active {
          color: #569cd6;
        }
      }
    }

    .nav-social {
      z-index: 1;
      // border: 1px solid red; // Remove test code.
      display: none;
      position: absolute;
      top: 300px;
      left: 50%;
      transform: translateX(-50%);

      a {
        font-size: 20px;
        color: #9cdcfe;

        &:hover {
          color: #569cd6;
        }

        &:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }











  .bars-icon {
    @media (min-width: 1000px) {
      display: none;
    }

    @media (max-width: 1000px) {
      // border: 1px solid red; // Remove test code.
      font-size: 35px;
      color: #9cdcfe;
      position: absolute;
      right: 10px;
      bottom: 15%;
      cursor: pointer;
    }
  }

}