* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

// MOBILE
@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .container--icon {
      // border: 1px solid blueviolet; // Remove test code.
      width: 100%;
      min-height: 40px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 5px;
  
      .icon--burger-bars {
        font-size: 25px;
        cursor: pointer;
      }
    }
  
    .navbar-list {

      &.hide {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
      }
  
      &.show {
        list-style: none;
  
        li {
          border-top: 1px solid rgb(175, 175, 175);
          text-align: center;
          padding: 15px;
          cursor: pointer;
          transition: ease-out 0.1s;
        }
  
        li:hover {
          background-color: rgb(250, 250, 250);
        }
      }
    }
  }
}

// DESKTOP
@media only screen and (min-width: 768px) {
  .navbar {
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px 0;

    .container--icon {
      display: none;
    }

    .navbar-list {
      list-style: none;
      display: flex;
      gap: 30px;

      li {
        cursor: pointer;
        padding-bottom: 1px;
        border-bottom: 1.5px solid transparent;
      }

      li:hover {
        border-bottom: 1.5px solid black;
      }
    }
  }

}