* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.navbar {
  width: 100%;
  min-height: 40px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container--icon {
    // border: 1px solid blueviolet; // Remove test code.
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;

    .icon--burger-bars {
      font-size: 25px;
      cursor: pointer;
    }
  }

  .navbar-list {

    &.hide {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }

    &.show {
      list-style: none;

      li {
        border-top: 1px solid rgb(175, 175, 175);
        text-align: center;
        padding: 15px;
        cursor: pointer;
      }
    }
  }

}